<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerIP" value="127.0.0.1"/>
		<add key="ServerPort" value="13000"/>
		<add key="BufferSize" value="1024"/>
		<add key="MaxClients" value="1000"/>
		<add key="MaxFileSize" value="5000"/>
		<add key="LogFile" value="serverLog.log"/>
		<add key="FilePath" value="data.txt"/>
	</appSettings>
</configuration>